.wrapper {
  display: grid;
  grid-template-areas:
    'n q q'
    'i t t'
    'i nu nu';
  grid-template-columns: 800px 3fr 3fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 40px;
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  font-size: 25px;
}

.name {
  grid-area: n;
  font-size: 50px;
  font-weight: bold;
}

.quote {
  grid-area: q;
}

.image {
  width: 800px;
  height: 600px;
  grid-area: i;
  margin: 0 auto;
}

.text {
  grid-area: t;
}

.nutrion {
  grid-area: nu;
}

.carousel {
  width: 500px;
  height: 500px;
}
