.skeleton {
  height: 250px;
  margin: 25px 0px;
  align-items: center;
  background: rgb(13, 25, 112);
  background: radial-gradient(
    circle,
    rgba(13, 25, 112, 0.5578606442577031) 0%,
    rgba(13, 46, 133, 0) 100%
  );
}
