.wrapper {
  background-color: rgb(42, 73, 124);
  margin: 25px 0px;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    'i t'
    'n t';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px;
  grid-gap: 10px;

  width: 95vw;
  height: 250px;
  align-items: center;
  margin-left: 2vw;
  font-size: 20px;

  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 0px 3px black inset;
  }
}

.name {
  grid-area: n;
  font-size: 20px;
  padding: 0 0 20px 110px;
}

.table {
  grid-area: t;
  padding-right: 50px;
}
.image {
  padding-left: 70px;
  max-width: 200px;
  max-height: 150px;
  border-radius: 20px;
  grid-area: i;
}

.pages {
  display: inline-block;
}

.paginator {
  margin-left: 45px;
}
