.wrapper {
  background-color: rgb(42, 73, 124);
  margin: 25px 0px;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    'i n c p'
    'i r s f';
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-gap: 10px;

  width: 95vw;
  height: 300px;
  align-items: center;
  margin-left: 2vw;
  font-size: 30px;

  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 0px 3px black inset;
  }
}

.name {
  grid-area: n;
}

.region {
  grid-area: r;
}

.calories {
  grid-area: c;
}

.sugars {
  grid-area: s;
}

.protein {
  grid-area: p;
}

.fat {
  grid-area: f;
}

.image {
  padding-left: 70px;
  max-width: 400px;
  max-height: 250px;
  border-radius: 20px;
  grid-area: i;
}
