.wrapper {
  display: grid;
  grid-template-areas: 'i t n s b';
  grid-template-columns: 1fr 2fr 7fr 1fr 1fr;
  background: rgb(24, 72, 167);
  background: linear-gradient(
    0deg,
    rgba(24, 72, 167, 0) 0%,
    rgba(25, 69, 158, 0.23853291316526615) 6%,
    rgba(27, 65, 144, 0.45702030812324934) 16%,
    rgba(29, 60, 126, 0.7399334733893557) 28%,
    rgba(20, 45, 103, 0.896796218487395) 52%,
    rgba(11, 29, 80, 1) 100%
  );
  align-items: center;
  justify-items: center;
  height: 150px;
  color: rgb(212, 210, 226);
}

.image {
  max-width: 100px;
  grid-area: i;
  margin-left: 20%;
  cursor: pointer;
}

.title {
  grid-area: t;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}

.search {
  grid-area: s;
  height: 20px;
  min-width: 100px;
}

.button {
  grid-area: b;
}

.buttons {
  grid-area: n;
}

.link {
  display: inline;
  margin-right: 50px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1280px) {
  .title {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }
  .title {
    display: none;
  }
  .buttons {
    display: none;
  }
}
