* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(88, 87, 151);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(134, 149, 184);
  border: 1px solid rgb(88, 87, 151);
}
